.header {
  width: 100%;
  background-color: #00000017;
  color: white;
  padding: 20px 0;
  position: absolute;
  z-index: 9999;
}

.h_container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_ul {
  display: flex;
  align-items: center;
}

.nav_ul a {
  margin: 0 15px;
  color: #fbea25;
  font-size: 1.2rem;
  font-weight: 600;
}

.logo-mobile {
  display: none;
}

.hamburger {
  display: none;
}
@media screen and (max-width: 775px) {
  .header {
    overflow: hidden;
  }
  .h_container {
    justify-content: space-between;
  }
  .hamburger {
    display: block;
    font-size: 2rem;
    color: white;
    position: relative;
    z-index: 2000;
  }
  .logo-mobile {
    display: block;
    max-width: 150px;
  }

  .nav_ul {
    position: absolute;
    top: 0;
    right: -1000px;
    height: 100vh;
    background-color: black;
    flex-direction: column;
    align-items: flex-start;
    width: 380px;
    z-index: 35;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .nav_ul a {
    margin: 20px 50px;
    font-size: 1.4rem;
  }
  .desktop-logo {
    margin: 0px !important;
  }
  .open-nav {
    right: 0px;
    opacity: 1;
  }
  .overflow {
    overflow: visible !important;
  }
}
