.header {
  width: 100%;
  background-color: #00000017;
  color: white;
  /* padding: 20px 0; */
  position: absolute;
  z-index: 9999;
  height: 75px;
}

.h_container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}

.nav_ul {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}

.nav_ul a {
  /* margin: 0 15px; */
  color: #fbea25;
  font-size: 1.1rem;
  font-weight: 600;
  height: 100%;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav_ul a::before {
  border-right: 1px solid grey;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: skew(-20deg);
}
.nav_ul a::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  z-index: -1;
  transition: all 0.3s ease-in-out;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to top, #2b67a8, transparent);
  transform: skew(-20deg);
  opacity: 0;
}
.nav_ul a:hover::after {
  opacity: 1;
}
.logo-mobile {
  display: none;
}

.hamburger {
  display: none;
}
@media screen and (max-width: 989px) {
  .header {
    overflow: hidden;
  }
  .h_container {
    justify-content: flex-end;
    align-items: center;
  }
  .hamburger {
    display: block;
    font-size: 2rem;
    color: white;
    position: relative;
    z-index: 2000;
    cursor: pointer;
  }
  .logo-mobile {
    display: block;
    max-width: 150px;
  }

  .nav_ul {
    position: fixed;
    top: 0;
    right: -1000px;
    height: 100vh;
    /* background-color: black; */
    flex-direction: column;
    align-items: center;
    width: 380px;
    z-index: 35;
    justify-content: flex-start;
    opacity: 0;
    gap: 40px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    padding-top: 8rem;
    /* background-image: linear-gradient(to bottom, #236bb8, #2669b1de); */
    background-color: #000000b4;
  }
  .nav_ul a::before {
    display: none;
  }
  .nav_ul a::after {
    display: none;
  }

  .nav_ul a {
    margin: 0px 50px;
    font-size: 1.4rem;
    height: 50px;
  }
  .desktop-logo {
    margin: 0px !important;
  }
  .open-nav {
    right: 0px;
    opacity: 1;
  }
  .overflow {
    overflow: visible !important;
  }
}
@media screen and (max-width: 540px) {
  .nav_ul {
    width: 100%;
  }
}
